.menu-container {
    background: #fff;
    padding: 15px 10px;
    color: black;
    position: sticky;
    right: 0;
    left: 0;
    flex-wrap: wrap;
   

    // justify-content: space-between;
    ul {
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 10px;
        cursor: pointer;

    }

    .icon-next {
        // justify-content: end;
    }

    .bold {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 5px;
    }

    .underline {
        border-bottom: 1px solid #333;
    }

    .grid {
        width: calc(100% / 7);

        @media screen and(max-width: 1024px) {
            width: calc(100% / 5);


        }

        padding-right: 20px;
    }
}